<%= link_to 'New Contact', new_contact_path, :id=>"New Contact", :class=>"btn btn-sm btn-primary pull-left m-t-n-xs font-bold" %>
<%= #render 'shared/contact_modal'
%>
<div id="search">
 <%= render 'contacts/search' %>
</div>

<div id="results">
 <%= render 'contacts/results', contacts: @contacts %>
</div>

<script>
  $(document).ready(function() {
      $("#contacts_search input").keyup(function() {
        $.get($("#contacts_search").attr("action"), $("#contacts_search").serialize(), null, "script");
       return false;
      });
  });
</script>
